body {
    margin: 0%;

}
.navbar {
    background-color: #C4E7C1;
    height: 10vh;

    padding-right: 4vw;
    padding-left: 4vw;
}
.navbar-nav {
    position: relative;

}
.nav-link {
    color: #874C62;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 2vw;
}
.navbar-collapse {
    align-items: center;
    justify-content: end;

}

/*.navbar {
    position: fixed;
    background-color: #c4e7c1 ;
    height: 10vh;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    color: #874C62;
}
.nav-item {
    margin: 4vh;
}
.navbar-nav {
    margin-right: 1vw;
}
.navbar-brand {
    position: relative;
    left: 1vw;
}
.navbar-collapse {
    justify-content: flex-end;
    align-content: center;
    right: 0;
}
.navbar-toggler {
    color: #874C62;
    display: inline-block;

}*/
.fold {

    position: absolute;
    top: 10vh;
    background-color: #C1E7E1;
    margin-top: 0px;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;

}
.title1 {

    color: #874C62;
    font-size: 5rem;
    font-family: 'Gloria Hallelujah';
    line-height: 5.5rem;
    text-align: center;
    margin: 0;
}
.title2 {

    color: #874C62;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 3rem;
    text-align: center;
    margin: 0;
}
.inside-text {
    align-items: center;    
    height:min-content;
    padding-top: calc(45vh - 8.5rem);
    padding-bottom: calc(45vh - 8.5rem);
}


.middle {
    
    background-color: #F2D388;
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 100vh;
}
.bottom {

    background-color: #C98474;
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 190vh;
}

/*
tagSelector {
    h1, p, hr...
}
.class {
    multiple elements
}
#id{
    unique elements
}*/

  