ul {
    padding-left: 0;
}
li {
    color: #FEE8DA;
    font-size: 14px;
    font-family: 'Sono', sans-serif;
    list-style-type: none;
    list-style-position: inside;
}
.navbar {
    background-color: #2E0249;
    height: 8vh;

    padding-right: 4vw;
    padding-left: 4vw;
}
.navbar-nav {
    position: relative;

}
.nav-link {
    color: #E5009E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 2vw;
}
.navbar-collapse {
    align-items: center;
    justify-content: end;

}
.fold {

    position: absolute;
    top: 8vh;
    background-color: #2E0249;
    height: 92vh;
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;

}
.fold-computer {

    display: block;
    max-width: 395px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin: auto 5px auto auto ;

}
.fold-text {

    position: relative;
    color: #FFF3EB;
    text-align: left;
    margin: 45vh auto auto 25px ;

}
.title1{
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
}
.name{
    color:#A91079;
}
.title2 {

    color: #FEE8DA;
    font-size: 32px;
    font-family: 'Sono', sans-serif;
    font-weight: normal;
    width: 100%;

}

.middle {
    

    position: absolute;
    top: 100vh;
    background-color: #570A57;
    height: fit-content;
    width: 100%;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 5vh;

}
.title-ruler {
    color: #E5009E;
    width: auto;
    height: 1px;
    border-style: solid;
    background-color: #E5009E;


}
.title-aboutme {
    width: auto;
    color:#E5009E;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
}
.title-skills {
    width: auto;
    color:#E5009E;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: end;
    font-family: 'Raleway', sans-serif;
}
.title-works {
    width: auto;
    color:#E5009E;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: start;
    font-family: 'Raleway', sans-serif;
}
#list-title{
    color: #E5009E;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.profile-img {

    max-width: 100%;
    max-height: 300px;
    min-width: 200px;

}
#text-div {
    margin: auto 0 ;
}
.description-aboutme {
    
    color:#FFF3EB;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.paragraph-aboutme {

    color: #FEE8DA;
    font-size: 14px;
    font-family: 'Sono', sans-serif;
    font-weight: 600;
}
/*.projects{
    height: 100vh;
    width: 100%;
    background-color: #570A57;
    position: absolute;
    top:190vh;
}*/
.bottom {

    background-color: #C98474;
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 290vh;
}

/*
tagSelector {
    h1, p, hr...
}
.class {
    multiple elements
}
#id{
    unique elements
}*/

  